#box1 {
    height: 220px;
    width: 400px;
    margin: 100px 200px;
    background-color: red;
    color: aliceblue;
    text-align: center;
}
#box2 {
    height: 100px;
    background-color: blue;
}
#box3 {
    height: 70px;
    width: 70px;
    background-color: aliceblue;
    color: black;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 15px;
    left: 175px;

}